.page {
  height: 100%;
  padding: 10px;
}

.editor {
  padding: 1rem 3rem 1rem 3rem;
  border: 1px solid #141204;
  border-radius: 1rem;
  margin: 1rem;
  background-color: var(--secondary-color);
}

.editor a {
  color: #2a63d4;
}

.MainHeading {
  text-align: center;
  color: white;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 2.5rem;
  font-family: monospace;
}

.MainSubHeading {
  color: white;
  text-align: center;
  font-family: monospace;
  font-size: 1rem;
}

