.ProseMirror {
  line-height: 1.2 !important;
  font-size: 14px !important;
  font-family: Calibri, Arial, Helvetica, sans-serif !important;
}

:root {
  --primary-color: #9A879D;
  --primary-color-dark: #1b181c;
  --secondary-color: #FAF8F1;
  --background-color: #010001;
  --background-color2: #212227;
  --text-color: #0F1A20;
  --accent-color: #e74c3c;
}


.ProseMirror p, 
.ProseMirror h1, 
.ProseMirror h2, 
.ProseMirror h3, 
.ProseMirror h4 {
  margin: 0 0 10px 0;
}

.ProseMirror:focus {
  outline: none;
}

* {
  color: var(--text-color);
}

body {
  background-color: var(--background-color);
}
